<div id="footer">
  <!--
  <div class="row">
    <a target="_blank" href="https://tiktok.com/@m0zrat">tiktok</a>
    <a target="_blank" href="https://instagram.com/m0zrat/">instagram</a>
    <a target="_blank" href="https://twitter.com/M0zrat">twitter</a>
    <a target="_blank" href="https://velvetyne.fr/fonts/cirruscumulus/">title font</a>
  </div>
  -->
  <div class="row">
    <a href="about.html">
      <h3>about</h3>
    </a>
    <a href="programming.html">
      <h3>programming</h3>
    </a>
    <a href="sound.html">
      <h3>sound \& music</h3>
    </a>
    <a href="gallery.html">
      <h3>gallery</h3>
    </a>
    <a href="misc.html">
      <h3>other</h3>
    </a>
    <a href="contact.html">
      <h3>contact</h3>
    </a>
  </div>
</div>
