<div>
  <div class="row">
    <a href="index.html" id="header-title">
      <h1>
        <span class="header-span" id="one">__e</span>
        <span class="header-span" id="two">zra</span>
        <span class="header-span" id="three">_weller</span>
      </h1>
    </a>
  </div>
  <div class="row">
    <a href="about.html">
      <h3>about</h3>
    </a>
    <a href="programming.html">
      <h3>programming</h3>
    </a>
    <a href="sound.html">
      <h3>sound \& music</h3>
    </a>
    <a href="gallery.html">
      <h3>gallery</h3>
    </a>
    <a href="misc.html">
      <h3>other</h3>
    </a>
    <a href="contact.html">
      <h3>contact</h3>
    </a>
  </div>
</div>

<script>
  const toggleText1 = ["__e", "m0"]
  const toggleText3 = ["_weller", "t______"]
  const spans = document.getElementsByClassName("header-span")
  let i, span1, span3
  for (i = 0; i < spans.length; i++) {
    const s = spans.item(i)
    if (s.id == "one") span1 = s
    if (s.id == "three") span3 = s
  }

  function toggleText() {
    if (span1.innerText == toggleText1[0]) {
      span1.innerText = toggleText1[1]
      span3.innerText = toggleText3[1]
    } else {
      span1.innerText = toggleText1[0]
      span3.innerText = toggleText3[0]
    }
  }

  setInterval(() => {
    toggleText()
    setTimeout(() => toggleText(), 1000)
  }, 29000)
</script>
