/* for itch, we want no margin/padding anywhere */
/*
body {
  margin: 0;
  padding: 0;
}


#p5_canvas {
  margin: 0;
  padding: 0;
}

#p5_canvas > canvas {
  margin: 0;
  padding: 0;
  display: block;
  margin: auto;
}
  */

#toy_canvas > canvas {
  padding: 16px;
  margin-bottom: 64px;
  display: block;
}

#toy_buttons {
  border: 2px solid black;
  padding: 8px;
  width: fit-content;
}

.toy_button {
  cursor: pointer;
  padding: 6px;
  border: 2px solid transparent;
}

.selected {
  border: 2px solid black;
}

@media only screen and (max-width: 600px)
{
  .toy_container {
    margin: 0 -3em 0 -3em; /* undo the default margins on body */
  }

  #toy_canvas > canvas {
    padding: 0;
    margin: auto;
  }
}
