/* fonts */

@font-face {
  font-family: 'CirrusCumulus';
  src: local('CirrusCumulus'), url(./assets/fonts/CirrusCumulus/CirrusCumulus.woff) format('woff');
}

/* unique */

body {
  margin: 3em;
  font-family: 'Times New Roman';
  font-size: 20px;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  max-width: 990px;
}

#header-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 1.5em;
  margin-bottom: 1.5em;
}

.header-span {
  position: absolute;
}

#one.header-span {
  text-align: right;
}

#two.header-span {
  left: 3.05em;
}

#three.header-span {
  left: 4.6em;
}

#footer {
  margin-top: auto;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

/* general */

h1 {
  font-family: CirrusCumulus;
  font-size: 40px;
  margin-bottom: 2em;
}

h3 {
  font-size: 22px;
  width: max-content;
}

.small {
  font-size: 16px;
}

.post-feed {
  margin: 1.5em 0 2em 0;
}

.post {
  margin: 0.5em 0 3.5em 0;
}

.content {
  margin: 1em 0 1em 0;
}

p {
  margin: 0.5em 0 0.5em 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.row.padded>* {
  margin-right: 1em;
}

.row.centered {
  justify-content: center;
}

.row>a {
  padding-right: 2em;
}

a>h3,
p>a {
  border-bottom: 1px dotted black;
}

a:hover {
  color: blue;
}

@media screen and (max-width: 480px) {
    body {
      font-size: 15px;
    }

    h1 {
      font-family: CirrusCumulus;
      font-size: 28px;
      margin-bottom: 2em;
    }

    h3 {
      font-size: 18px;
      width: max-content;
    }

    .small {
      font-size: 12px;
    }
}
